<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springwebapp.mapper.UserMapper">

    <!-- Generated query interface -->
    <resultMap id="BaseResultMap" type="com.example.springwebapp.pojo.User">
        <id column="id" property="id" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="salt" property="salt" />
        <result column="avater" property="avater" />
        <result column="last_login_date" property="lastLoginDate" />
        <result column="login_count" property="loginCount" />
    </resultMap>

    <!-- Generated query result list -->
    <sql id="Base_Column_List">
        id, nickname, password, salt, avater, last_login_date, login_count
    </sql>

</mapper>
